@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
font-family: 'League Spartan', sans-serif;
background: hsl(0, 0%, 100%);
margin: 0;
padding: 0;
}

.menu{
    cursor: pointer;
}

.close{
    display: none;
    cursor: pointer;
}

.shop{
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 600;
    cursor: pointer;
    padding: 50px 24px 70px;
    font-size: .9rem;
}

.logo{
    text-align: center;
    position: absolute;
    left: 150px;
    margin-top: 45px;
}

.h2_text{
    padding: 60px 24px 15px;
    font-size: 2.2rem;
    font-weight: 600;
}

.h3_text{
    padding:52px 24px 14px;
    font-size: .9rem;
    letter-spacing: 5px;
    font-weight: 600;
    text-transform: uppercase;
}

.p_text{
    font-weight: 400;
    color:hsl(0, 0%, 63%);
    font-size: 1.1rem;
    line-height: 1.3;
    padding: 0 24px;
}

.p_text_sec{
    padding: 14px 24px 46px;
    font-size: 1.03rem;
}

li{
    cursor: pointer;
}
/* 
.furn{
    width: 375px;
    height: 100%;
} */

.light_img, .dark_img{
    width: 375px;

}

.angleR, .angleL{
    background: black;
padding: 10px;
cursor: pointer;
}
.arrows{
    position: absolute;
    right: 0;
    top: 38.9%;
}



.attribution{
    text-align: center;
}